@model IEnumerable<KK_BookStore.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @*<title>Tables - SB Admin</title>*@
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    @*<link href="css/styles.css" rel="stylesheet" />*@
    <link href="~/Content/quanLySach/quanLySach.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main style="margin-right:200px">
            <div class="container-fluid px-4">
                <h1 style="text-align:center" class="mt-4">Quản lý chức vụ</h1>
                @*<ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Tables</li>
                    </ol>*@
                @*<div class="card mb-4">
                        <div class="card-body">
                            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                            .
                        </div>
                    </div>*@
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Bảng quản lý chức vụ
                        <a style="float:right" data-tip="Thêm" href="@Url.Action("Create", "Role")"><i class="fa-solid fa-plus"></i>New</a>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    
                                    <th>Tên chức vụ</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    
                                    <th>Tên chức vụ</th>
                                    <th></th>

                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                       
                                        <td>@item.Name</td>

                                        <td>
                                            <a class="edit" href="@Url.Action("Edit", "Role",new { @id = item.Id})" title="Edit" data-toggle="tooltip"><i class="fa fa-pen"></i></a>
                                            <a style="margin-left:10px" class="delete" href="@Url.Action("Delete", "Role",new { @id = item.Id})" title="Delete" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                                            <a style="margin-left:10px" href="@Url.Action("danhSachNguoiDungTheoRole", "Admin",new { @id =item.Name})" title="Chi tiết" data-toggle="tooltip"><i style="font-size:large" class="fa fa-info"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    @*<script src="js/scripts.js"></script>*@
    <script src="~/Content/quanLySach/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    @*<script src="js/datatables-simple-demo.js"></script>*@
    <script src="~/Content/quanLySach/datatables-simple-demo.js"></script>
</body>
</html>
