@model IEnumerable<KK_BookStore.Models.GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://kit.fontawesome.com/e38363a3ae.js" crossorigin="anonymous"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="~/Content/GioHang/GioHang.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="background-color:brown;margin-top:100px;font-size:large">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr style="color:white">
                <th style="width:50%">Sản phẩm</th>
                <th style="width:10%">Giá</th>
                <th style="width:8%">Số lượng</th>
                <th style="width:22%" class="text-center">Giá tiền</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>                   
                        <td data-th="Product">
                            <a href="https://localhost:44339/Sach/Detail/@item.maSach">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="@item.hinh" alt="..." class="img-responsive" /></div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">@item.tenSach</h4>
                                        <p></p>
                                    </div>
                                </div>
                            </a>                            
                        </td>
                    

                    @using (Html.BeginForm("capNhapGioHang", "GioHang", new { @id = item.maSach }))
                    {
                        <td data-th="Price"> @String.Format("{0:0,0}", item.giaBan)</td>
                        <td data-th="Quantity">
                            @*<input type="number" class="form-control text-center" value="1">*@
                            <input style="text-align:center" type="number" min="1" max="@ViewBag.SoLuongTon" name="txtSoLg" value="@item.soLuong" />
                        </td>
                        <td data-th="Subtotal" class="text-center"> @String.Format("{0:0,0}", item.thanhTien) VNĐ</td>
                        <td class="actions" data-th="">
                            <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                            @*<button type="submit" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>*@
                            @*<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>*@
                            <a data-tip="Xóa" class="like btn btn-default" href="@Url.Action("XoaGioHang", "GioHang",new { @id = item.maSach})"><span class="fa fa-trash"></span></a>

                            @*@Html.ActionLink("Xóa", "XoaGioHang", new { @id = item.maSach })*@
                        </td>

                    }
                </tr>

            }
        </tbody>
        <tfoot>

            <tr>
                @*<td class="text-center"><strong>Total 1.99</strong></td>*@
                <td>@Html.ActionLink("Xóa tất cả giỏ hàng", "xoaTatCaGioHang")</td>

            </tr>
            <tr>
                <td><a href="https://localhost:44339/Sach/Index" class="btn btn-warning"><i class="fa fa-angle-left"></i>Tiếp tục mua sách</a></td>

                @*<td colspan="2" class="hidden-xs"></td>*@
                @*<td>@Html.ActionLink("Xóa giỏ hàng", "xoaTatCaGioHang")</td>*@

                <td colspan="2" class="hidden-xs">Số loại sách: @ViewBag.Tongsoluongsanpham</td>
                <td colspan="1" class="hidden-xs">Số lượng sách: @ViewBag.Tongsoluong</td>

                <td style="color:white" class="hidden-xs text-center"><strong>Tổng tiền: @String.Format("{0:0,0}", @ViewBag.Tongtien) VNĐ</strong></td>
                <td><a href="@Url.Action("XacNhanDonHang", "GioHang")" class="btn btn-success btn-block">Đặt hàng</a></td>
            </tr>
        </tfoot>
    </table>
</div>

