@model KK_BookStore.ChucVu

@{
    ViewBag.Title = "EditVaiTro";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="row justify-content-center">
    <div class="row">
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-header"><h3 class="text-left font-weight-light my-2">Edit</h3></div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaChucVu)

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.TenChucVu, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <h3>Tên chức vụ</h3>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenChucVu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenChucVu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>