@model IEnumerable<KK_BookStore.NguoiDung>

@{
    ViewBag.Title = "quanLyNguoiDung";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @*<title>Tables - SB Admin</title>*@
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    @*<link href="css/styles.css" rel="stylesheet" />*@
    <link href="~/Content/quanLySach/quanLySach.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 style="text-align:center" class="mt-4">Quản lý người dùng</h1>
                @*<ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Tables</li>
                    </ol>*@
                @*<div class="card mb-4">
                        <div class="card-body">
                            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                            .
                        </div>
                    </div>*@
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Bảng quản lý người dùng
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>

                                    <th>User name</th>
                                    <th>Họ tên</th>
                                    <th>Địa chỉ</th>
                                    <th>Hình</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Banned</th>
                                    <th></th>


                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr >
                                        <td>@item.TaiKhoan</td>
                                        @if (item.HoTen == null)
                                        {
                                            <td>!NULL!</td>
                                        }
                                        else
                                        {
                                            <td>@item.HoTen</td>

                                        }
                                        @if (@item.DiaChi == null)
                                        {
                                            <td>!NULL!</td>
                                        }
                                        else
                                        {
                                            <td>@item.DiaChi</td>

                                        }

                                        @if (item.Hinh == null)
                                        {
                                            <th><img style="width:100px;height:100px" src="\Content\user.jpg" alt="anh" /></th>

                                        }
                                        else
                                        {
                                            <th><img style="width:100px;height:100px" src="@item.Hinh" alt="anh" /></th>

                                        }
                                        @if (@item.SDT == null)
                                        {
                                            <td>!NULL!</td>
                                        }
                                        else
                                        {
                                            <td>@item.SDT</td>

                                        }
                                        @if (@item.Email == null)
                                        {
                                            <td>!NULL!</td>
                                        }
                                        else
                                        {
                                            <td>@item.Email</td>

                                        }
                                        @if (item.Banned == true)
                                        {
                                            <td>
                                                <p style="color:red">Lock</p>
                                            </td>
                                        }
                                        else
                                        {
                                            <td><p style="color:green">Normal</p></td>
                                        }

                                        <td>
                                            <a class="edit" href="@Url.Action("EditNguoiDung", "Admin",new { @id =item.TaiKhoan.Trim()})" title="Edit" data-toggle="tooltip"><i class="fa fa-pen"></i></a>
                                            <hr />
                                            <a class="delete" href="@Url.Action("camNguoiDung", "Admin",new { @id = item.TaiKhoan.Trim()})" title="Khóa tài khoản" data-toggle="tooltip"><i class="fa fa-lock"></i></a>

                                        </td>

                                    </tr>

                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    @*<script src="~/Content/quanLySach/scripts.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    @*<script src="js/datatables-simple-demo.js"></script>*@
    <script src="~/Content/quanLySach/datatables-simple-demo.js"></script>
</body>
</html>
