@model KK_BookStore.BaiViet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}

@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>BaiViet</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                    @Html.LabelFor(model => model.TaiKhoan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                    </div>
                </div>
            <div class="form-group">
                    @Html.LabelFor(model => model.NgayViet, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NgayViet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgayViet, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenBaiViet, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenBaiViet, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenBaiViet, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnhBia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AnhBia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnhBia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                    @Html.LabelFor(model => model.SoSao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SoSao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoSao, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
@*<link href="~/Content/Review/create.css" rel="stylesheet" />
<script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<script src="~/Content/Review/create.js"></script>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post Form</title>
    <link rel="stylesheet" href="style.css" />
    <link href="~/Content/Review/create.css" rel="stylesheet" />
    <script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script src="~/Content/Review/create.js"></script>
</head>
<body>
    <div class="container">
        <div class="apply_box">
            <h1>
                Job Application
                <span class="title_small">(NTK_Reviews)</span>
            </h1>
            @*<form action="">*@
            @using (Html.BeginForm("Create", "Review", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form_container">
                    <div class="form_control">
                        <label for="TenBaiViet"> Ten Bai Viet </label>
                        <input id="TenBaiViet"
                               name="TenBaiViet"
                               placeholder="Enter TenBaiViet..." />
                    </div>
                    @*<div class="form_control">
                    <label for="last_name"> Last Name </label>
                    <input id="last_name"
                           name="last_name"
                           placeholder="Enter Last Name..." />
                </div>
                <div class="form_control">
                    <label for="email"> Email </label>
                    <input type="email"
                           id="email"
                           name="email"
                           placeholder="Enter Email..." />
                </div>*@
                    @*<div class="form_control">
                    <label for="job_role"> Job Role </label>
                    <select id="job_role" name="job_role">
                        <option value="">Select Job Role</option>
                        <option value="frontend">Frontend Developer</option>
                        <option value="backend">Backend Developer</option>
                        <option value="full_stack">Full Stack Developer</option>
                        <option value="ui_ux">UI UX Designer</option>
                    </select>
                </div>*@
                    <div class="textarea_control ckeditor">
                        <label for="NoiDung"> NOI DUNG </label>
                        <textarea id="NoiDung"
                                  name="NoiDung"
                                  row="4"
                                  cols="50"
                                  placeholder="Enter NoiDung"></textarea>
                    </div>
                    <script>CKEDITOR.replace("NoiDung");</script>
                    
                    @*<div class="form_control">
                    <label for="city"> City </label>
                    <input id="city" name="city" placeholder="Enter City Name..." />
                </div>*@

                <div class="form_control">
                    <label for="AnhBia"> Upload Your Anh Bia </label>
                    @*<input type="file" id="AnhBia" name="AnhBia" />*@
                    @Html.EditorFor(model => model.AnhBia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnhBia, "", new { @class = "text-danger" })
                    <input type="file" class="text-center center-block file-upload" name="fileUpload" id="fileUpload" accept="image/*" />
                    @section upload
            {
                        <script>
                            $(function () {
                                $('#btnUpload').click(function () {
                                    $('#fileUpload').trigger('click');
                                });
                            });
                            $('#fileUpload').change(function () {
                                if (window.FormData !== undefined) {
                                    var fileUpload = $('#fileUpload').get(0);
                                    var files = fileUpload.files;
                                    var formData = new FormData();
                                    formData.append('file', files[0]);
                                    $.ajax(
                                        {
                                            type: 'POST',
                                            url: '/Review/ProcessUpload',
                                            contentType: false,
                                            processData: false,
                                            data: formData,
                                            success: function (urlImage) {
                                                $('#pictureUpload').attr('src', urlImage);
                                                $('#AnhBia').val(urlImage);
                                            },
                                            error: function (err) {
                                                alert('Error ', err.statusText);
                                                19
                                            }
                                        });
                                }
                            });
                        </script>
                    }
                </div>
                </div>
                <div class="button_container">
                    <button type="submit">UpLoad Now</button>
                </div>
                @*</form>*@
            }
            
        </div>
    </div>
</body>

</html>

