@model PagedList.IPagedList<KK_BookStore.BaiViet>
@using PagedList.Mvc;

@{
    ViewBag.Title = "danhSachBaiVietBiTuChoi";
    Layout = "~/Views/Shared/Reviewer.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<div style="float: left;" class="container">
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
        <button class="btn btn-default" onclick="goBack()"><i class="fa fa-arrow-left"></i> Back</button>

        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html " target="_blank">
                <img src="~/Content/Admin_Template/assets/img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">REVIEWER AREA</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="https://localhost:44339/Review/quanLyBaiViet">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link " href="https://localhost:44339/Review/quanLyBaiViet">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fa fa-list text-warning text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Your Posts</span>
                        </a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link " href="https://localhost:44339/Review/Create">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="fa fa-plus text-success text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Create Post</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://localhost:44339/Review/danhSachThongBao">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i style="color:yellow" class="fa fa-bell text-info text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Nortification</span>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link " href="~/Content/Admin_Template/pages/rtl.html">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">RTL</span>
                        </a>
                    </li>*@
                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="https://localhost:44339/Manage">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Profile</span>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link " href="~/Content/Admin_Template/pages/sign-in.html">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Sign In</span>
                        </a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link " href="javascript:document.getElementById('logoutForm').submit()">
                        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="fa fa-sign-out text-info text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
        @*<div class="sidenav-footer mx-3 ">
                <div class="card card-plain shadow-none" id="sidenavCard">
                    <img class="w-50 mx-auto" src="~/Content/Admin_Template/assets/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
                    <div class="card-body text-center p-3 w-100 pt-0">
                        <div class="docs-info">
                            <h6 class="mb-0">Need help?</h6>
                            <p class="text-xs font-weight-bold mb-0">Please check our docs</p>
                        </div>
                    </div>
                </div>
                <a href="https://www.creative-tim.com/learning-lab/bootstrap/license/argon-dashboard" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Documentation</a>
                <a class="btn btn-primary btn-sm mb-0 w-100" href="https://www.creative-tim.com/product/argon-dashboard-pro?ref=sidebarfree" type="button">Upgrade to pro</a>
            </div>*@
    </aside>
</div>

<div class="container" style="float:right;">

    <div class="card">

        <div class="card-body">
            <a href="@Url.Action("Create", "Review")" class="btn btn-primary waves-effect waves-light"><i class="fa fa-plus"></i> Create new Post</a>
            <a style="background-color:forestgreen" href="@Url.Action("danhSachBaiVietDaDuyet", "Review")" class="btn btn-primary waves-effect waves-light"><i class="fa fa-check"></i> Public Post </a>
            <a style="background-color:orange" href="@Url.Action("danhSachBaiVietChuaDuyet", "Review")" class="btn btn-primary waves-effect waves-light"><i class="fa fa-hourglass"></i> Waiting Post </a>
            <a style="background-color:crimson" href="@Url.Action("danhSachBaiVietBiTuChoi", "Review")" class="btn btn-primary waves-effect waves-light"><i class="fa fa-sad-cry"></i> Post Denied</a>

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="table-responsive px-3">
                                    <table class="table table-striped align-middle table-nowrap">
                                        <tbody>
                                            @if (Model.Count() == 0)
                                            {


                                                <tr>
                                                    <td>None post</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="avatar-lg me-4">
                                                                <a href="@Url.Action("Detail","Review",new {@id = item.MaBaiViet})"><img src="@item.AnhBia" width="380" height="380" class="img-fluid rounded" alt=""></a>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                @if (item.TenBaiViet.Length < 30)
                                                                {
                                                                    <h5 class="font-size-18"><a href="@Url.Action("Detail","Review",new {@id = item.MaBaiViet})" class="text-dark">@item.TenBaiViet</a></h5>

                                                                }
                                                                else
                                                                {
                                                                    <h5 class="font-size-18"><a href="@Url.Action("Detail","Review",new {@id = item.MaBaiViet})" class="text-dark">@item.TenBaiViet.Substring(0, 30)...</a></h5>

                                                                }
                                                                <p class="text-muted mb-0 mt-2 pt-2">

                                                                    @item.TheLoai.TenTL
                                                                </p>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <ul class="list-unstyled ps-0 mb-0">
                                                                <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>@Math.Round((double)item.SoSao, 1)<i class="fa fa-star"></i> / @item.SoLuotDanhGia lượt</p></li>
                                                                <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>@item.YeuThich <i class="fa fa-heart"></i></p></li>
                                                                <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>@item.LuotXem <i class="fa fa-eye"></i></p></li>

                                                            </ul>
                                                        </td>

                                                        <td style="width: 180px;">

                                                            <ul class="list-inline mb-0 text-muted product-color">
                                                                @if (item.TrangThai == 1)
                                                                {

                                                                    <li class="list-inline-item">
                                                                        <i class="mdi mdi-circle font-size-16 text-success">Public</i>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    if (item.TrangThai == 0)
                                                                    {
                                                                        <i class="mdi mdi-circle font-size-16 text-danger">Private</i>

                                                                    }
                                                                    else
                                                                    {
                                                                        if (item.TrangThai == -1)
                                                                        {
                                                                            <i style="color:goldenrod" class="mdi mdi-circle font-size-16 text-yellow">Waiting</i>

                                                                        }
                                                                        else
                                                                        {
                                                                            <i style="color:goldenrod" class="mdi mdi-circle font-size-16 text-danger">Deny</i>

                                                                        }

                                                                    }

                                                                }



                                                            </ul>
                                                        </td>



                                                        <td>
                                                            <a href="https://localhost:44339/Review/Edit/@item.MaBaiViet" class="btn btn-primary waves-effect waves-light"><i class="fa fa-pen"></i> Edit</a>
                                                        </td>

                                                        <td>
                                                            <div class="dropdown float-end">
                                                                <a class="text-muted dropdown-toggle font-size-20" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <a class="dropdown-item" href="https://localhost:44339/Review/Edit/@item.MaBaiViet">Edit</a>
                                                                    @*<a class="dropdown-item" href="@Url.Action("xemTruocBaiViet", "Admin", new { @id = item.MaBaiViet })">Preview</a>*@
                                                                    <a class="dropdown-item" href="#">Remove</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }

                                            }





                                        </tbody>
                                    </table>
                                    <div>
                                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
                                        @Model.PageCount
                                    </div>
                                    <div class="MenuTrang">
                                        @Html.PagedListPager(Model, page => Url.Action("danhSachBaiVietBiTuChoi", new
                                        {
                                            page = page
                                        }))
                                    </div>
                                    <style>
                                        .pagination {
                                            display: flex;
                                            justify-content: center;
                                            list-style: none;
                                            padding: 0;
                                        }

                                            .pagination li {
                                                margin: 0 5px;
                                            }

                                            .pagination a {
                                                text-decoration: none;
                                                padding: 5px 10px;
                                                background-color: #007BFF;
                                                color: #fff;
                                                border-radius: 5px;
                                                transition: background-color 0.3s ease;
                                            }

                                                .pagination a:hover {
                                                    background-color: #0056b3;
                                                }

                                            .pagination .disabled {
                                                pointer-events: none;
                                                opacity: 0.5;
                                            }
                                    </style>
                                    <script>
                                        // Get all rows in the table
                                        const tableRows = document.querySelectorAll('#myTable tbody tr');

                                        // Add a click event listener to each row
                                        tableRows.forEach(row => {
                                            row.addEventListener('click', () => {
                                                // Get the value of the 'data-href' attribute
                                                const link = row.getAttribute('data-href');

                                                // Navigate to the link
                                                window.location.href = link;
                                            });
                                        });
                                    </script>

                                    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                                    <script>
                                        $(document).ready(function () {
                                            var maxLength = 100;
                                            $(".show-read-more").each(function () {
                                                var myStr = $(this).text();
                                                if ($.trim(myStr).length > maxLength) {
                                                    var newStr = myStr.substring(0, maxLength);
                                                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                                                    $(this).empty().html(newStr);

                                                    $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                                                    $(this).append('<span class="more-text">' + removedStr +
                                                        '</span>');
                                                }
                                            });
                                            $(".read-more").click(function () {
                                                $(this).siblings(".more-text").contents().unwrap(); $(this).remove();
                                            });
                                        });
                                    </script>
                                    <style>
                                        .show-read-more .more-text {
                                            display: none;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

