@model KK_BookStore.BaiViet

@{
    ViewBag.Title = "Detail";
    Layout = null;
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NTK_Reviews | @Model.TenBaiViet</title>
    <link href="~/Content/Review/Index.css" rel="stylesheet" />
</head>

<body>






    <header>
        <a style="color:black;font:bold" class="navbar-brand" href="https://localhost:44339/Home/Index">NTK<span style="color:red">_Reviews</span></a>

        <nav style="width:200px">


            <ul style="text-align:center">
                <li><a href="https://localhost:44339/Home/Index">HOME</a></li>
                <li class="scroll"><a href="#works">how it works</a></li>
                <li class="scroll"><a href="#explore">explore</a></li>
                @*<li class="scroll"><a href="#reviews">review</a></li>*@
                <li><a href="https://localhost:44339/Review/Index">review</a></li>
                <li><a href="https://localhost:44339/Blog/Index">blog</a></li>
                <li class="scroll"><a href="#contact">contact</a></li>
                @Html.Partial("_LoginPartial")
            </ul>



        </nav>
        <div style="">
            <div> <a href="Link web 2" target="_blank"><img border="0" src="http://farm6.staticflickr.com/5759/31081343902_b95bee4751_o.png" width="200" /></a> </div>
            @*<div style="margin-top: 10px;"> <a href="Link web 2" target="_blank"><img border="0" src="\Content\user.jpg" width="200" /></a> </div>*@
        </div>

    </header>
    <main style="width:100%">
        <link href="~/Content/Ads/Ads_home.css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">

        <div style="width: 100%; height: 300px" id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div style="margin-left:200px;padding-top:10px" class="col-md-5 col-12 order-md-1 order-2">
                                    <h4 style="font-size:50px">
                                        Present your <br>
                                        awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                                        necessitatibus praesentium voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1"><img width="200" src="https://i.imgur.com/NKvkfTT.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <h4>
                                        Present your <br>
                                        awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                                        necessitatibus praesentium voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1"><img width="200" src="https://i.imgur.com/duWgXRs.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <h4>
                                        Present your <br>
                                        awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                                        necessitatibus praesentium voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1"><img width="200" src="https://i.imgur.com/DGkR4OQ.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            @*<a style="width:100px" class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>*@
        </div>
        <script src="~/Content/Ads/Ads_home.js"></script>
        <!--slide end-->
        <div style="width:1000px">
            <div>
                <section style="margin-left:80px;" id="@Model.TenBaiViet">
                    <h1 style="background-color:bisque;width:fit-content;padding-bottom:5px">@Model.TheLoai.TenTL</h1>
                    <h1>Bai Review @Model.TenBaiViet</h1>
                    <article>
                        @*<img src="@ViewBag.baiviet.AnhBia" width="700" height="300" />*@
                        <p>
                            @Html.Raw(Model.NoiDung)
                        </p>


                    </article>
                </section>
                @*}*@


            </div>
            <div><h1>Danh Sach goi y</h1></div>


        </div>
        

        <link href="~/Content/BinhLuan/danhSachBinhLuan.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        @if (User.Identity.IsAuthenticated)
        {
            <section class="content-item" id="comments">
                <div style="" class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="width:fit-content">
                                @using (Html.BeginForm("themBinhLuan", "Review", FormMethod.Get))
                                {
                                    <input hidden list="browsers" value=@ViewBag.MaBaiViet type="text" placeholder="ma" name="mabaiviet" />
                                    <form>
                                        <h3 class="pull-left">New Comment</h3>
                                        <div class="rate">

                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>

                                        <button type="submit" class="btn btn-normal pull-right">Submit</button>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-3 col-lg-2 hidden-xs">

                                                    @*<img style="width:180px;height:100px" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">*@
                                                </div>
                                                <div class="col-xs-12 col-sm-9 col-lg-10">
                                                    <textarea style="width:400px" class="form-control" name="comment" id="message" placeholder="Your message" required=""></textarea>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </form>
                                }

                            </div>

                            @if (ViewBag.checkCMT == -1)
                            {
                                <h1>Chua co cmt</h1>
                            }
                            else
                            {
                                <h3>@ViewBag.slCMT Comments</h3>
                                foreach (var item in ViewBag.cmt)
                                {
                                    <div class="media">
                                        <a class="pull-left" href="#"><img width="100" height="100" class="media-object" src="@item.NguoiDung.Hinh" alt=""></a>
                                        <div>

                                            <h4 class="media-heading">
                                                @item.TaiKhoan
                                                @if (item.SoSao == 1)
                                                {
                                                    <span class="fa fa-star checked"></span>

                                                }
                                                @if (item.SoSao == 2)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>

                                                }
                                                @if (item.SoSao == 3)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>

                                                }
                                                @if (item.SoSao == 4)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>

                                                }
                                                @if (item.SoSao == 5)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                }
                                            </h4>

                                            <p>@item.NoiDung</p>

                                        </div>
                                    </div>

                                }
                            }



                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <section class="content-item" id="comments">
                <div style="" class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="width:fit-content">
                                <h1>Dang nhap de binh luan</h1>

                            </div>
                            <h3>@ViewBag.slCMT Comments</h3>
                            @if (ViewBag.checkCMT == -1)
                            {
                                <h1>Chua co cmt</h1>
                            }
                            else
                            {
                                foreach (var item in ViewBag.cmt)
                                {
                                    <div class="media">
                                        <a class="pull-left" href="#"><img width="100" height="100" class="media-object" src="@item.NguoiDung.Hinh" alt=""></a>
                                        <div>

                                            <h4>
                                                @item.TaiKhoan
                                                @if (item.SoSao == 1)
                                                {
                                                    <span class="fa fa-star checked"></span>

                                                }
                                                @if (item.SoSao == 2)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>

                                                }
                                                @if (item.SoSao == 3)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>

                                                }
                                                @if (item.SoSao == 4)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>

                                                }
                                                @if (item.SoSao == 5)
                                                {
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                }
                                            </h4>

                                            <p>@item.NoiDung</p>

                                        </div>
                                    </div>

                                }
                            }




                        </div>
                    </div>
                </div>
            </section>
        }









    </main>

</body>

</html>

