@model KK_BookStore.BaiViet
@{
    ViewBag.Title = "Detail";
    Layout = null;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NTK_Reviews | @Model.TenBaiViet</title>
    <link href="~/Content/Review/Index.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/icon" href="~/Content/LayoutChung/favicon.png" />
</head>

<body>





    <link href="~/Content/darkMode.css" rel="stylesheet" />
    <script src="~/Content/darkMode.js"></script>
    <button style="margin-bottom:50px" class="lightmode-button" id="darkmodebtn" onclick="darkMode()">🌓</button>
    
    <header>
        <a style="color:black;font:bold" class="navbar-brand" href="https://localhost:44339/Home/Index">NTK<span style="color:red">_Reviews</span></a>

        <nav style="width:200px">


            <ul style="text-align:center">
                <li><a href="https://localhost:44339/Home/Index">HOME</a></li>
                <li><a href="https://localhost:44339/Home/About">ABOUT</a></li>
                <li><a href="https://localhost:44339/DanhSachYeuThich/DanhSachBaiViet">WISHLIST</a></li>
                @*@if (User.IsInRole("Reviewer"))
                {
                    <li><a href="https://localhost:44339/Review/quanLyBaiViet"><i style="font-size:x-large" class="fa fa-briefcase"></i></a></li>
                }*@
                <li><a href="https://localhost:44339/TacGia/index">AUTHOR</a></li>
                @*<li class="scroll"><a href="#reviews">review</a></li>*@
                <li><a href="https://localhost:44339/Review/Index">POSTS</a></li>


                <li><button  class="btn btn-default" onclick="goBack()"><i class="fa fa-arrow-left"></i> Back</button></li>

                @Html.Partial("_LoginPartial")
            </ul>



        </nav>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <div style="">
            <div> <a href="Link web 2" target="_blank"><img border="0" src="http://farm6.staticflickr.com/5759/31081343902_b95bee4751_o.png" width="200" height="430" /></a> </div>
            @*<div style="margin-top: 10px;"> <a href="Link web 2" target="_blank"><img border="0" src="\Content\user.jpg" width="200" /></a> </div>*@
        </div>

    </header>
    <main style="width:100%">
        <link href="~/Content/Ads/Ads_home.css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">

        <div style="width: 100%; height: 300px" id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div style="margin-left:200px;padding-top:10px" class="col-md-5 col-12 order-md-1 order-2">
                                    <h4 style="font-size:50px">
                                        Present your <br>
                                        awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                                        necessitatibus praesentium voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1"><img width="200" src="https://i.imgur.com/NKvkfTT.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <h4>
                                        Present your <br>
                                        awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                                        necessitatibus praesentium voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1"><img width="200" src="https://i.imgur.com/duWgXRs.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <h4>
                                        Present your <br>
                                        awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                                        necessitatibus praesentium voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1"><img width="200" src="https://i.imgur.com/DGkR4OQ.png" class="mx-auto" alt="slide"></div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            @*<a style="width:100px" class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>*@
        </div>
        <script src="~/Content/Ads/Ads_home.js"></script>
        <!--slide end-->
        <div style="width: 1200px; margin-left: 120px;margin-top:40px">
            <div>
                @*<section style="margin-left:180px;" id="@Model.TenBaiViet">*@
                @*<h1 style="background-color:bisque;width:fit-content;padding-bottom:5px">@Model.TheLoai.TenTL</h1>*@
                <h1>@Model.TenBaiViet</h1>
                <article>
                    @*<img src="@ViewBag.baiviet.AnhBia" width="700" height="300" />*@
                    <p>
                        @Html.Raw(Model.NoiDung)
                    </p>


                </article>
                @*</section>*@
                @*}*@


            </div>



        </div>


        <link href="~/Content/BinhLuan/danhSachBinhLuan.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        @if (User.IsInRole("Assessor"))
        {
            <section class="content-item" id="comments">
                <div style="" class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="width:fit-content">

                                @using (Html.BeginForm("themDanhGia", "Review", FormMethod.Post))
                                {
                                    <input id="mabaivietrat" hidden list="browsers" value=@ViewBag.MaBaiViet type="text" placeholder="ma" name="mabaiviet" />
                                    @*<input id="url" hidden list="browsers" value=@Request.Url.ToString() type="text" placeholder="ma" name="strURL" />*@
                                    <h3 class="pull-left">New Ratting</h3>
                                    <div class="rate">

                                        <span class="star" data-value="1" title="1 star">☆</span>
                                        <span class="star" data-value="2" title="2 stars">☆</span>
                                        <span class="star" data-value="3" title="3 stars">☆</span>
                                        <span class="star" data-value="4" title="4 stars">☆</span>
                                        <span class="star" data-value="5" title="5 stars">☆</span>

                                        @*<label for="star1" title="text">1 star</label>*@

                                    </div>
                                    <style>
                                        .star {
                                            cursor: pointer;
                                            font-size: 20px;
                                            color: #ccc; /* Màu cho các sao chưa được chọn */
                                        }

                                            .star.selected {
                                                color: #f5b301; /* Màu cho các sao sau khi được chọn */
                                            }
                                    </style>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-3 col-lg-2 hidden-xs">

                                                @*<img style="width:180px;height:100px" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">*@
                                            </div>
                                            <div class="col-xs-12 col-sm-9 col-lg-10">
                                                <textarea style="width:400px" class="form-control" name="comment" id="rat" placeholder="Your message"required="required"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <button id="addRattingtButton" type="button" class="btn btn-normal pull-right">Submit</button>

                                }








                            </div>

                            



                        </div>
                    </div>
                </div>
            </section>
        }
        
    <div class="review-list">
        <div id="comments">
            <div id="rattingList">
                <!-- Nội dung danh sách bình luận sẽ được cập nhật tại đây -->
            </div>
        </div>
    </div>       
        <h1>Share our your thoughts !!</h1>
        @if (User.Identity.IsAuthenticated)
        {
            <section class="content-item" id="comments">
                <div style="" class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="width:fit-content">
                                @using (Html.BeginForm("themBinhLuan", "NguoiDung", FormMethod.Get))
                                {
                                    @*<input hidden list="browsers" value=@ViewBag.MaBaiViet type="text" placeholder="ma" name="mabaiviet" />
                                    <input hidden list="browsers" value=@Request.Url.ToString() type="text" placeholder="ma" name="strURL" />*@

                                    <form id="commentForm">
                                        <h3 class="pull-left">New Commnent</h3>


                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-3 col-lg-2 hidden-xs">

                                                    <img style="width:100px;height:100px" class="img-responsive" src="@ViewBag.hinh" alt="">
                                                </div>
                                                <div class="col-xs-12 col-sm-9 col-lg-10">
                                                    <input type="hidden" id="mabaiviet" value="@Model.MaBaiViet" />
                                                    <textarea id="comment" style="width:400px" class="form-control" name="comment" placeholder="Your message" required="required"></textarea>
                                                </div>
                                            </div>

                                        </fieldset>
                                        <button id="addCommentButton" type="button" class="btn btn-normal pull-right">Submit</button>


                                    </form>
                                }

                            </div>


                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <h3>Login to share your comments</h3>
        }
        @*<form id="commentForm">
            <input type="hidden" id="mabaiviet" value="@Model.MaBaiViet" />
            <textarea id="comment" name="comment"></textarea>
            <input type="button" value="Bình luận" id="addCommentButton" />
        </form>*@



        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        
        <script>
    $(document).ready(function () {




        var selectedRating = 0; // Biến để lưu giá trị đánh giá được chọn

        // Xử lý sự kiện click trên các sao
        $('.star').click(function () {
            selectedRating = $(this).data('value'); // Cập nhật giá trị đánh giá được chọn
            $('.star').removeClass('selected'); // Xóa tất cả các lớp 'selected' khác
            $(this).prevAll().addBack().addClass('selected'); // Thêm lớp 'selected' vào sao được chọn và tất cả các sao phía trước nó
        });
        function loadRatting() {
            var mabaiviet = "@Model.MaBaiViet"; // Lấy MaBaiViet từ Model của view detail
            console.log("loadRatting is called");
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetRattings", "NguoiDung")",
                data: { mabaiviet: @Model.MaBaiViet },
                success: function (data) {
                    // Cập nhật danh sách bình luận
                    $("#rattingList").html(data);
                }
            });
        }
        loadRatting();


        $("#addRattingtButton").click(function (e) {
            e.preventDefault();
            var rate = selectedRating;
            var mabaiviet = $("#mabaivietrat").val();
            var comment = $("#rat").val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("themDanhGia", "Review")",
                data: { mabaiviet: mabaiviet, comment: comment, rate: rate }
            }).done(function() {
                console.log("Success or Error, loadRatting is called");
            }).fail(function() {
                console.log("An error occurred, but still calling loadRatting");
            }).always(function() {
                // Sẽ chạy sau khi AJAX request hoàn tất, không quan trọng là success hay error
                loadRatting();
                // Xóa nội dung ô nhập bình luận sau khi thêm
                $("#rat").val('');
                $('.star').removeClass('selected');
            });
        });


        function xoaDanhGia(maBinhLuan) {
            if (confirm('Bạn có chắc muốn xóa đánh giá này không?')) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("xoaDanhGia", "Review")",
                    data: { id: maBinhLuan }
                }).done(function () {
                    console.log("Success or Error, loadRatting is called");
                }).fail(function () {
                    console.log("An error occurred, but still calling loadRatting");
                }).always(function () {
                    // Sẽ chạy sau khi AJAX request hoàn tất, không quan trọng là success hay error
                    loadRatting();


                });
            }
        }

        // Gắn event listener cho nút xóa (phải xử lý trường hợp nút xóa được thêm sau khi AJAX load)
        $(document).on('click', '.delete-rate-link', function(e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            xoaDanhGia(maBinhLuan);
        });
        $(document).on('click', '.edit-rate-btn', function (e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            $(this).hide(); // Ẩn nút chỉnh sửa
            $('#edit-content-' + maBinhLuan).parent().show();
        });
        $(document).on('click', '.cancelRate-edit-btn', function (e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            var updatedContent = $('#edit-content-' + maBinhLuan).val();
            
            $.ajax({
                type: "POST",
                url: "@Url.Action("CapNhatDanhGia", "Review")", // Thay thế bằng URL của action update comment
                data: {
                    id: maBinhLuan,
                    noiDung: updatedContent
                    //rate
                },
                success: function () {
                    // Cập nhật nội dung bình luận trên trang
                    // Ẩn form chỉnh sửa và hiển thị nút chỉnh sửa
                    $('#edit-content-' + maBinhLuan).parent().hide();
                    $('.edit-rate-btn[data-mabinhluan="' + maBinhLuan + '"]').show();
                    loadRatting();
                }


            });
        });
        // Xử lý Lưu Chỉnh Sửa
        $(document).on('click', '.save-editRate-btn', function (e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            var updatedContent = $('#edit-content-' + maBinhLuan).val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("CapNhatDanhGia", "Review")", // Thay thế bằng URL của action update comment
                data: {
                    id: maBinhLuan,
                    noiDung: updatedContent
                    //rate
                },
                success: function () {
                    // Cập nhật nội dung bình luận trên trang
                    // Ẩn form chỉnh sửa và hiển thị nút chỉnh sửa
                    $('#edit-content-' + maBinhLuan).parent().hide();
                    $('.edit-rate-btn[data-mabinhluan="' + maBinhLuan + '"]').show();
                    loadRatting();
                }


            });
        });












        // Function để lấy danh sách comment và cập nhật view
        function loadComments() {
            var mabaiviet = "@Model.MaBaiViet"; // Lấy MaBaiViet từ Model của view detail

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetComments", "NguoiDung")",
                data: { mabaiviet: mabaiviet },
                success: function (data) {
                    // Cập nhật danh sách bình luận
                    $("#commentList").html(data);
                }
            });
        }

        // Gọi hàm để hiển thị danh sách comment khi trang được tải
        loadComments();

        // Bắt sự kiện khi thêm bình luận
        $("#addCommentButton").click(function (e) {
            e.preventDefault();

            var mabaiviet = $("#mabaiviet").val();
            var comment = $("#comment").val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("themBinhLuan", "NguoiDung")",
                data: { mabaiviet: mabaiviet, comment: comment },
                success: function () {
                    // Sau khi thêm bình luận thành công, load lại danh sách comment
                    loadComments();

                    // Xóa nội dung ô nhập bình luận sau khi thêm
                    $("#comment").val('');
                }
            });
        });
        function xoaBinhLuan(maBinhLuan) {
            if (confirm('Bạn có chắc muốn xóa bình luận này không?')) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("xoaBinhLuan", "NguoiDung")",
                    data: { id: maBinhLuan },
                    success: function () {
                        loadComments();
                    }
                });
            }
        }

        // Gắn event listener cho nút xóa (phải xử lý trường hợp nút xóa được thêm sau khi AJAX load)
        $(document).on('click', '.delete-comment-link', function(e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            xoaBinhLuan(maBinhLuan);
        });


        $(document).on('click', '.edit-comment-btn', function (e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            $(this).hide(); // Ẩn nút chỉnh sửa
            $('#edit-content-' + maBinhLuan).parent().show();
        });
        $(document).on('click', '.cancel-edit-btn', function (e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            var updatedContent = $('#edit-content-' + maBinhLuan).val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("CapNhatBinhLuan", "NguoiDung")", // Thay thế bằng URL của action update comment
                data: {
                    id: maBinhLuan,
                    noiDung: updatedContent
                },
                success: function () {
                    // Cập nhật nội dung bình luận trên trang
                    // Ẩn form chỉnh sửa và hiển thị nút chỉnh sửa
                    $('#edit-content-' + maBinhLuan).parent().hide();
                    $('.edit-comment-btn[data-mabinhluan="' + maBinhLuan + '"]').show();
                    loadComments();
                }


            });
        });
        // Xử lý Lưu Chỉnh Sửa
        $(document).on('click', '.save-edit-btn', function (e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            var updatedContent = $('#edit-content-' + maBinhLuan).val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("CapNhatBinhLuan", "NguoiDung")", // Thay thế bằng URL của action update comment
                data: {
                    id: maBinhLuan,
                    noiDung: updatedContent
                },
                success: function () {
                    // Cập nhật nội dung bình luận trên trang
                    // Ẩn form chỉnh sửa và hiển thị nút chỉnh sửa
                    $('#edit-content-' + maBinhLuan).parent().hide();
                    $('.edit-comment-btn[data-mabinhluan="' + maBinhLuan + '"]').show();
                    loadComments();
                }


            });
        });



        $(document).on('click', '.like-comment-link', function (e) {
            e.preventDefault();
            var maBinhLuan = $(this).data('mabinhluan');
            likeBinhLuan(maBinhLuan);
        });
        function likeBinhLuan(maBinhLuan) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("thichBinhLuan", "NguoiDung")",
                    data: { id: maBinhLuan },
                    success: function () {
                        loadComments();
                    }
                });

        }


    });
        </script>
        
        

        <div style="margin-bottom:40px" class="review-list">
            <div id="comments">
                <div id="commentList">
                    <!-- Nội dung danh sách bình luận sẽ được cập nhật tại đây -->
                </div>
            </div>
        </div>




    </main>

</body>

</html>
