@*@{
        ViewBag.Title = "Index";
        Layout = null;

    }*@

@*<link href="~/Content/Review/Index.css" rel="stylesheet" />
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Javascript Documentation</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <nav style="width:200px">

                <div style="position:fixed;width:180px">
                    <h1>@ViewBag.baiviet.TenBaiViet</h1>
                    @foreach (var item in ViewBag.chitietbaiviet)
                    {
                        <ul>
                            <a href="#@item.TieuDe">
                            <li style="text-align:center">@item.TieuDe</li></a>
                        </ul>
                    }
                    <ul><li>Back</li></ul>
                </div>
            </nav>

        </header>
        <main>
            <div>



                <div style="float:left;width:800px">
                    @foreach (var item in ViewBag.chitietbaiviet)
                    {
                        <section id="@item.TieuDe">
                            <h2>@item.TieuDe</h2>
                            <article>
                                <img src="@item.HinhMinhHoa" width="700" height="300" />
                                <p>
                                    @item.NoiDung
                                </p>

                                <p>
                                    JavaScript contains a standard library of objects, such as Array,
                                    Date, and Math, and a core set of language elements such as
                                    operators, control structures, and statements. Core JavaScript can
                                    be extended for a variety of purposes by supplementing it with
                                    additional objects; for example:
                                </p>
                                <ul>
                                    <li>
                                        Client-side JavaScript extends the core language by supplying
                                        objects to control a browser and its Document Object Model (DOM).
                                        For example, client-side extensions allow an application to place
                                        elements on an HTML form and respond to user events such as mouse
                                        clicks, form input, and page navigation.
                                    </li>
                                    <li>
                                        Server-side JavaScript extends the core language by supplying
                                        objects relevant to running JavaScript on a server. For example,
                                        server-side extensions allow an application to communicate with a
                                        database, provide continuity of information from one invocation to
                                        another of the application, or perform file manipulations on a
                                        server.
                                    </li>
                                </ul>
                            </article>
                        </section>
                    }


                </div>
                <div style="float:right;">
                    <div style="margin-top: 10px; margin-left: 230px;"> <a href="Link web 2" target="_blank"><img border="0" src="http://farm6.staticflickr.com/5759/31081343902_b95bee4751_o.png" width="200" /></a> </div>
                    <div style="margin-top: 10px; margin-left: 230px;"> <a href="Link web 2" target="_blank"><img border="0" src="\Content\user.jpg" width="200" /></a> </div>
                </div>


            </div>
            <link href="~/Content/BinhLuan/danhSachBinhLuan.css" rel="stylesheet" />
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <section class="content-item" id="comments">
                <div style="" class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="width:fit-content">
                                @using (Html.BeginForm("themBinhLuan", "Sach", FormMethod.Get))
                                {
                                    <input hidden list="browsers" value=@ViewBag.MaSach type="text" placeholder="ma" name="masach" />
                                    <form>
                                        <h3 class="pull-left">New Comment</h3>
                                        <div class="rate">

                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>

                                        <button type="submit" class="btn btn-normal pull-right">Submit</button>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                                    <img style="width:180px;height:100px" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                                </div>
                                                <div class="col-xs-12 col-sm-9 col-lg-10">
                                                    <textarea style="width:400px" class="form-control" name="noidung" id="message" placeholder="Your message" required=""></textarea>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </form>
                                }

                            </div>



                            <h3>das Comments</h3>
                            @foreach (var item in ViewBag.cmt)
                            {
                                <div class="media">
                                    <a class="pull-left" href="#"><img width="100" height="100" class="media-object" src="@item.NguoiDung.Hinh" alt=""></a>
                                    <div >

                                        <h4 class="media-heading">
                                            @item.TaiKhoan
                                            @if (item.SoSao == 1)
                                            {
                                                <span class="fa fa-star checked"></span>

                                            }
                                            @if (item.SoSao == 2)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>

                                            }
                                            @if (item.SoSao == 3)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>

                                            }
                                            @if (item.SoSao == 4)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>

                                            }
                                            @if (item.SoSao == 5)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            }
                                        </h4>

                                        <p>@item.NoiDung</p>

                                    </div>
                                </div>

                            }


                        </div>
                    </div>
                </div>
            </section>


        </main>
    </body>

    </html>*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<KK_BookStore.BaiViet>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
      - primary meta tags
    -->
    <title>Blogy - Hey, we’re Blogy. See our thoughts, stories and ideas.</title>
    <meta name="title" content="Blogy - Hey, we’re Blogy. See our thoughts, stories and ideas.">
    <meta name="description" content="This is a blog html template made by codewithsadee">

    <!--
      - favicon
    -->
    <link rel="shortcut icon" type="image/icon" href="~/Content/LayoutChung/favicon.png" />

    <!--
      - custom css link
    -->
    @*<link rel="stylesheet" href="./assets/css/style.css">*@
    <link href="~/Content/Blog/style.css" rel="stylesheet" />
    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>

    <!--
      - #HEADER
    -->
    <!-- <header class="header section" data-header>
      <div class="container">

        <a href="#" class="logo">
          <img src="./assets/images/logo.svg" width="129" height="40" alt="Blogy logo">
        </a>

        <nav class="navbar" data-navbar>
          <ul class="navbar-list">

            <li class="navbar-item">
              <a href="#" class="navbar-link hover:underline" data-nav-link>Home</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link hover:underline" data-nav-link>Recent Post</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link hover:underline" data-nav-link>Membership</a>
            </li>

          </ul>
        </nav>

        <div class="wrapper">

          <button class="search-btn" aria-label="search" data-search-toggler>
            <ion-icon name="search-outline" aria-hidden="true"></ion-icon>

            <span class="span">Search</span>
          </button>

          <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
            <span class="span one"></span>
            <span class="span two"></span>
            <span class="span three"></span>
          </button>

          <a href="#" class="btn">Join</a>

        </div>

      </div>
    </header> -->
    <!--
      - #SEARCH BAR
    -->
    
    @*<div class="search-bar" data-search-bar>

        <div class="input-wrapper">
            <input type="search" name="search" placeholder="Search" class="input-field">

            <button class="search-close-btn" aria-label="close search bar" data-search-toggler>
                <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>

        </div>

        <p class="search-bar-text">Please enter at least 3 characters</p>

    </div>

    <div class="overlay" data-overlay data-search-toggler></div>*@





    <main>
        <article>

            <!--
              - #HERO
            -->

            <section class="section hero" aria-label="home">
                <div class="container">

                    <h1 class="h1 hero-title">
                        <strong class="strong">Hey, we’re Blogy.</strong> See our thoughts, stories and ideas.
                    </h1>

                    <!-- <div class="wrapper">

                      <form action="" class="newsletter-form">
                        <input type="email" name="email_address" placeholder="Your email address" class="email-field">

                        <button type="submit" class="btn">Subscribe</button>
                      </form>

                      <p class="newsletter-text">
                        Get the email newsletter and unlock access to members-only content and updates
                      </p>

                    </div> -->

                </div>
            </section>





            <!--
              - #FEATURED POST
            -->

            <section class="section featured" aria-label="featured post">
                <div class="container">

                    <p class="section-subtitle">
                        Get started with our <strong class="strong">best stories</strong>
                    </p>

                    <ul class="has-scrollbar">
                        @foreach (var item in ViewBag.baiVietDanhGiaCao)
                        {
                            <li class="scrollbar-item">
                                <div class="blog-card">

                                    <figure class="card-banner img-holder" style="--width: 500; --height: 600;">
                                        <img src="@item.AnhBia" width="500" height="600" loading="lazy"
                                             alt="@item.TenBaiViet" class="img-cover">

                                        <ul class="avatar-list absolute">

                                            <li class="avatar-item">
                                                <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                    <img src="@item.NguoiDung.Hinh" width="100" height="100" loading="lazy" alt="Author"
                                                         class="img-cover">
                                                </a>
                                            </li>

                                            @*<li class="avatar-item">
                                                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                        <img src="./assets/images/author-2.jpg" width="100" height="100" loading="lazy" alt="Author"
                                                             class="img-cover">
                                                    </a>
                                                </li>*@

                                        </ul>
                                    </figure>

                                    <div class="card-content">

                                        <ul class="card-meta-list">

                                            <li>
                                                <a href="#" class="card-tag">@item.TheLoai.TenTL</a>
                                            </li>

                                            <li>
                                                <a href="#" class="card-tag">@item.NgayViet.ToString("dd/MM/yyyy")</a>
                                            </li>
                                            



                                            <li>
                                                <a href=" @Url.Action("yeuThichBaiViet", "Review", new { @id = item.MaBaiViet, @strURL = Request.Url.ToString() })" class="card-tag">@Math.Round((float)item.SoSao, 1) <i style="color:yellow" class="fa fa-star"> </i></a>

                                            </li>







                                            <li>
                                                <a href="#" class="card-tag">@item.LuotXem <i class="fa fa-eye"></i></a>
                                            </li>

                                            @*<li>
                <a href="#" class="card-tag">Review</a>
            </li>*@

                                        </ul>
                                        
                                        <h3 class="h4">
                                            <a href="https://localhost:44339/Review/Detail/@item.MaBaiViet" class="card-title hover:underline">
                                                @item.TenBaiViet
                                            </a>
                                        </h3>

                                        <p class="card-text">
                                            @item.MoTa
                                        </p>

                                    </div>

                                </div>
                            </li>
                        }


                        @*<li class="scrollbar-item">
                                <div class="blog-card">

                                    <figure class="card-banner img-holder" style="--width: 500; --height: 600;">
                                        <img src="./assets/images/featured-2.jpg" width="500" height="600" loading="lazy"
                                             alt="It’s a new era in design, there are no rules" class="img-cover">

                                        <ul class="avatar-list absolute">

                                            <li class="avatar-item">
                                                <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                    <img src="./assets/images/author-3.jpg" width="100" height="100" loading="lazy" alt="Author"
                                                         class="img-cover">
                                                </a>
                                            </li>

                                        </ul>
                                    </figure>

                                    <div class="card-content">

                                        <ul class="card-meta-list">

                                            <li>
                                                <a href="#" class="card-tag">Creative</a>
                                            </li>

                                            <li>
                                                <a href="#" class="card-tag">Product</a>
                                            </li>

                                        </ul>

                                        <h3 class="h4">
                                            <a href="#" class="card-title hover:underline">
                                                It’s a new era in design, there are no rules
                                            </a>
                                        </h3>

                                        <p class="card-text">
                                            Quibus autem in rebus tanta obscuratio non fit, fieri tamen potest, ut id ipsum, quod interest, non
                                            sit magnum. Ita fit
                                            ut, quanta differentia est in principiis naturalibus, tanta sit in finibus bonorum malorumque
                                            dissimilitudo.
                                        </p>

                                    </div>

                                </div>
                            </li>

                            <li class="scrollbar-item">
                                <div class="blog-card">

                                    <figure class="card-banner img-holder" style="--width: 500; --height: 600;">
                                        <img src="./assets/images/featured-3.jpg" width="500" height="600" loading="lazy"
                                             alt="Perfection has to do with the end product" class="img-cover">

                                        <ul class="avatar-list absolute">

                                            <li class="avatar-item">
                                                <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                    <img src="./assets/images/author-4.jpg" width="100" height="100" loading="lazy" alt="Author"
                                                         class="img-cover">
                                                </a>
                                            </li>

                                        </ul>
                                    </figure>

                                    <div class="card-content">

                                        <ul class="card-meta-list">

                                            <li>
                                                <a href="#" class="card-tag">Design</a>
                                            </li>

                                            <li>
                                                <a href="#" class="card-tag">Creative</a>
                                            </li>

                                            <li>
                                                <a href="#" class="card-tag">Idea</a>
                                            </li>

                                        </ul>

                                        <h3 class="h4">
                                            <a href="#" class="card-title hover:underline">
                                                Perfection has to do with the end product
                                            </a>
                                        </h3>

                                        <p class="card-text">
                                            Aenean eget urna aliquet, viverra orci quis, aliquam erat. Ut rutrum quam quam, eu eleifend est
                                            blandit et. Vivamus
                                            suscipit ultrices venenatis. Aliquam massa ipsum, porta quis hendrerit at, varius sed leo. Curabitur
                                            convallis urna sit
                                            amet mi tempus posuere.
                                        </p>

                                    </div>

                                </div>
                            </li>

                            <li class="scrollbar-item">
                                <div class="blog-card">

                                    <figure class="card-banner img-holder" style="--width: 500; --height: 600;">
                                        <img src="./assets/images/featured-4.jpg" width="500" height="600" loading="lazy"
                                             alt="Everyone has a different life story" class="img-cover">

                                        <ul class="avatar-list absolute">

                                            <li class="avatar-item">
                                                <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                    <img src="./assets/images/author-5.jpg" width="100" height="100" loading="lazy" alt="Author"
                                                         class="img-cover">
                                                </a>
                                            </li>

                                            <li class="avatar-item">
                                                <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                    <img src="./assets/images/author-2.jpg" width="100" height="100" loading="lazy" alt="Author"
                                                         class="img-cover">
                                                </a>
                                            </li>

                                        </ul>
                                    </figure>

                                    <div class="card-content">

                                        <ul class="card-meta-list">

                                            <li>
                                                <a href="#" class="card-tag">People</a>
                                            </li>

                                            <li>
                                                <a href="#" class="card-tag">Story</a>
                                            </li>

                                        </ul>

                                        <h3 class="h4">
                                            <a href="#" class="card-title hover:underline">
                                                Everyone has a different life story
                                            </a>
                                        </h3>

                                        <p class="card-text">
                                            Non est igitur summum malum dolor. Tu autem inter haec tantam multitudinem hominum interiectam non
                                            vides nec laetantium
                                            nec dolentium. Nunc vero a primo quidem mirabiliter occulta natura est nec perspici nec cognosci
                                            potest.
                                        </p>

                                    </div>

                                </div>
                            </li>

                            <li class="scrollbar-item">
                                    <div class="blog-card">

                                        <figure class="card-banner img-holder" style="--width: 500; --height: 600;">
                                            <img src="./assets/images/featured-5.jpg" width="500" height="600" loading="lazy"
                                                 alt="The difference is quality" class="img-cover">

                                            <ul class="avatar-list absolute">

                                                <li class="avatar-item">
                                                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                        <img src="./assets/images/author-6.jpg" width="100" height="100" loading="lazy" alt="Author"
                                                             class="img-cover">
                                                    </a>
                                                </li>

                                            </ul>
                                        </figure>

                                        <div class="card-content">

                                            <ul class="card-meta-list">

                                                <li>
                                                    <a href="#" class="card-tag">Design</a>
                                                </li>

                                                <li>
                                                    <a href="#" class="card-tag">Lifestyle</a>
                                                </li>

                                                <li>
                                                    <a href="#" class="card-tag">Idea</a>
                                                </li>

                                            </ul>

                                            <h3 class="h4">
                                                <a href="#" class="card-title hover:underline">
                                                    The difference is quality
                                                </a>
                                            </h3>

                                            <p class="card-text">
                                                Vide, ne etiam menses! nisi forte eum dicis, qui, simul atque arripuit, interficit. Atque his de
                                                rebus et splendida est
                                                eorum et illustris oratio.
                                            </p>

                                        </div>

                                    </div>
                                </li>

                                <li class="scrollbar-item">
                                    <div class="blog-card">

                                        <figure class="card-banner img-holder" style="--width: 500; --height: 600;">
                                            <img src="./assets/images/featured-6.jpg" width="500" height="600" loading="lazy"
                                                 alt="Problems are not stop signs, they are guidelines" class="img-cover">

                                            <ul class="avatar-list absolute">

                                                <li class="avatar-item">
                                                    <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                        <img src="./assets/images/author-3.jpg" width="100" height="100" loading="lazy" alt="Author"
                                                             class="img-cover">
                                                    </a>
                                                </li>

                                            </ul>
                                        </figure>

                                        <div class="card-content">

                                            <ul class="card-meta-list">

                                                <li>
                                                    <a href="#" class="card-tag">Idea</a>
                                                </li>

                                                <li>
                                                    <a href="#" class="card-tag">Creating</a>
                                                </li>

                                            </ul>

                                            <h3 class="h4">
                                                <a href="#" class="card-title hover:underline">
                                                    Problems are not stop signs, they are guidelines
                                                </a>
                                            </h3>

                                            <p class="card-text">
                                                Quid ad utilitatem tantae pecuniae. Duo enim genera quae erant, fecit tria. Et quod est munus, quod
                                                opus sapientiae.
                                            </p>

                                        </div>

                                    </div>
                                </li>*@

                    </ul>

                </div>
            </section>





            <!--
              - #RECENT POST
            -->

            <section class="section recent" aria-label="recent post">
                <div class="container">

                    <div class="title-wrapper">

                        <h2 class="h2 section-title">
                            See what we’ve <strong class="strong">written lately</strong>
                        </h2>

                        <div class="top-author">
                            <ul class="avatar-list">
                                @foreach (var item in ViewBag.lstTacGia)
                                {
                                    <li class="avatar-item">
                                        <a href="#" class="avatar large img-holder" style="--width: 100; --height: 100;">
                                            <img src="@item.Hinh" width="100" height="100" alt="top author" class="img-cover">
                                        </a>
                                    </li>
                                }


                                @*<li class="avatar-item">
                        <a href="#" class="avatar large img-holder" style="--width: 100; --height: 100;">
                            <img src="./assets/images/author-2.jpg" width="100" height="100" alt="top author" class="img-cover">
                        </a>
                    </li>

                    <li class="avatar-item">
                        <a href="#" class="avatar large img-holder" style="--width: 100; --height: 100;">
                            <img src="./assets/images/author-3.jpg" width="100" height="100" alt="top author" class="img-cover">
                        </a>
                    </li>

                    <li class="avatar-item">
                        <a href="#" class="avatar large img-holder" style="--width: 100; --height: 100;">
                            <img src="./assets/images/author-4.jpg" width="100" height="100" alt="top author" class="img-cover">
                        </a>
                    </li>

                    <li class="avatar-item">
                        <a href="#" class="avatar large img-holder" style="--width: 100; --height: 100;">
                            <img src="./assets/images/author-5.jpg" width="100" height="100" alt="top author" class="img-cover">
                        </a>
                    </li>*@

                            </ul>

                            <a href="#" class="span">Meet our top authors</a>
                        </div>

                    </div>

                    <ul class="grid-list">

                        @foreach (var item in ViewBag.baiVietMoi)
                        {
                            <li>
                                <div class="blog-card">

                                    <figure class="card-banner img-holder" style="--width: 550; --height: 660;">
                                        <a class="img-cover" href="https://localhost:44339/Review/Detail/@item.MaBaiViet">
                                            <img src="@item.AnhBia" width="550" height="660" loading="lazy"
                                                 alt="Creating is a privilege but it’s also a gift" class="img-cover">
                                        </a>


                                        <ul class="avatar-list absolute">

                                            <li class="avatar-item">
                                                <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                    <img src="@item.NguoiDung.Hinh" width="100" height="100" loading="lazy" alt="Author"
                                                         class="img-cover">
                                                </a>
                                            </li>

                                        </ul>
                                    </figure>

                                    <div class="card-content">

                                        <ul class="card-meta-list">

                                            <li>
                                                <a href="#" class="card-tag">@item.TheLoai.TenTL</a>
                                            </li>

                                            <li>
                                                <a href="#" class="card-tag">@Math.Round((float)item.SoSao, 1) <i class="fa fa-star"></i></a>
                                            </li>

                                            <li>
                                                <a href="#" class="card-tag">@item.YeuThich <i class="fa fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="card-tag">@item.LuotXem <i class="fa fa-eye"></i></a>
                                            </li>

                                        </ul>

                                        <h3 class="h4">
                                            <a href="#" class="card-title hover:underline">
                                                @item.TenBaiViet
                                                

                                            </a>
                                        </h3>

                                        <p class="card-text">
                                            @item.MoTa
                                        </p>

                                    </div>

                                </div>
                            </li>

                        }



                    </ul>

                    @*<button class="btn">Load more</button>*@
                    <button class="btn" onclick="window.location.href='https://localhost:44339/Review/danhSachBaiViet'">Load more</button>
                </div>
            </section>





            <!--
              - #RECOMMENDED POST
            -->

            <section class="section recommended" aria-label="recommended post">
                <div class="container">

                    <p class="section-subtitle">
                        <strong class="strong">Recommended</strong>
                    </p>

                    <ul class="grid-list">

                        @foreach (var item in ViewBag.lstbaiVietNhieuTim)
                        {
                            <li>
                                <div class="blog-card">

                                    <figure class="card-banner img-holder" style="--width: 300; --height: 360;">
                                        <img src="@item.AnhBia" width="300" height="360" loading="lazy"
                                             alt="The trick to getting more done is to have the freedom to roam around " class="img-cover">

                                        <ul class="avatar-list absolute">

                                            <li class="avatar-item">
                                                <a href="#" class="avatar img-holder" style="--width: 100; --height: 100;">
                                                    <img src="@item.NguoiDung.Hinh" width="100" height="100" loading="lazy" alt="Author"
                                                         class="img-cover">
                                                </a>
                                            </li>

                                            

                                        </ul>
                                    </figure>

                                    <div class="card-content">

                                        <h3 class="h5">
                                            <a href="#" class="card-title hover:underline">
                                                @item.TenBaiViet
                                            </a>
                                        </h3>

                                    </div>

                                </div>
                            </li>
                          }
                        

                        

                        

                        

                        

                        

                    </ul>

                </div>
            </section>
            <div id="scroll-Top">
                <div class="return-to-top">
                    <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
                </div>




                <!--
                  - #NEWSLETTER
                -->
                <!-- <section class="section newsletter">

                  <h2 class="h2 section-title">
                    Subscribe to <strong class="strong">new posts</strong>
                  </h2>

                  <form action="" class="newsletter-form">
                    <input type="email" name="email_address" placeholder="Your email address" required class="email-field">

                    <button type="submit" class="btn">Subscribe</button>
                  </form>

                </section> -->

        </article>
    </main>





    <!--
      - #FOOTER
    -->
    <!-- <footer class="footer">
      <div class="container">

        <div class="footer-top section">

          <div class="footer-brand">

            <a href="#" class="logo">
              <img src="./assets/images/logo.svg" width="129" height="40" alt="Blogy logo">
            </a>

            <p class="footer-text">
              A minimal, functional theme for running a paid-membership publication on Ghost.
            </p>

          </div>

          <ul class="footer-list">

            <li>
              <p class="h5">Social</p>
            </li>

            <li class="footer-list-item">
              <ion-icon name="logo-facebook"></ion-icon>

              <a href="#" class="footer-link hover:underline">Facebook</a>
            </li>

            <li class="footer-list-item">
              <ion-icon name="logo-twitter"></ion-icon>

              <a href="#" class="footer-link hover:underline">Twitter</a>
            </li>

            <li class="footer-list-item">
              <ion-icon name="logo-pinterest"></ion-icon>

              <a href="#" class="footer-link hover:underline">Pinterest</a>
            </li>

            <li class="footer-list-item">
              <ion-icon name="logo-vimeo"></ion-icon>

              <a href="#" class="footer-link hover:underline">Vimeo</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="h5">About</p>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Style Guide</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Features</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Contact</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">404</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Privacy Policy</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="h5">Features</p>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Upcoming Events</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Blog & News</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Features</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">FAQ Question</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Testimonial</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="h5">Membership</p>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Account</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Membership</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Subscribe</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Tags</a>
            </li>

            <li>
              <a href="#" class="footer-link hover:underline">Authors</a>
            </li>

          </ul>

        </div>

        <div class="section footer-bottom">

          <p class="copyright">
            &copy; Blogy 2022. Published by <a href="#" class="copyright-link hover:underline">codewithsadee</a>.
          </p>

        </div>

      </div>
    </footer> -->
    <!--
      - custom js link
    -->
    @*<script src="./assets/js/script.js" defer></script>*@
    <script src="~/Content/Blog/script.js"></script>
    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>









