@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*HOME*@
<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e38363a3ae.js" crossorigin="anonymous"></script>
    <!-- title of site -->
    <title>Home Page</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/Content/LayoutChung/favicon.png" />

    <!--font-awesome.min.css-->
    @*<link rel="stylesheet" href="assets/css/font-awesome.min.css">*@
    <link href="~/Content/LayoutChung/font-awesome.min.css" rel="stylesheet" />
    <!--linear icon css-->
    @*<link rel="stylesheet" href="assets/css/linearicons.css">*@
    <link href="~/Content/LayoutChung/linearicons.css" rel="stylesheet" />
    <!--animate.css-->
    @*<link rel="stylesheet" href="assets/css/animate.css">*@
    <link href="~/Content/LayoutChung/animate.css" rel="stylesheet" />
    <!--flaticon.css-->
    @*<link rel="stylesheet" href="assets/css/flaticon.css">*@
    <link href="~/Content/LayoutChung/flaticon.css" rel="stylesheet" />
    <!--slick.css-->
    @*<link rel="stylesheet" href="assets/css/slick.css">*@
    <link href="~/Content/LayoutChung/slick.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="assets/css/slick-theme.css">*@
    <link href="~/Content/LayoutChung/slick-theme.css" rel="stylesheet" />
    <!--bootstrap.min.css-->
    @*<link rel="stylesheet" href="assets/css/bootstrap.min.css">*@
    <link href="~/Content/LayoutChung/bootstrap.min.css" rel="stylesheet" />
    <!-- bootsnav -->
    @*<link rel="stylesheet" href="assets/css/bootsnav.css">*@
    <link href="~/Content/LayoutChung/bootsnav.css" rel="stylesheet" />
    <!--style.css-->
    @*<link rel="stylesheet" href="assets/css/style.css">*@
    <link href="~/Content/LayoutChung/style.css" rel="stylesheet" />
    <!--responsive.css-->
    @*<link rel="stylesheet" href="assets/css/responsive.css">*@
    <link href="~/Content/LayoutChung/responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

    <section id="home" class="welcome-hero">
        <div class="container">
            <div class="welcome-hero-txt">
                <h2>Don't judge a book by its cover<br>  judge it by our review. </h2>
                <p>
                    A book review for every reader.
                </p>
            </div>
            <div class="welcome-hero-serch-box">
                    <div class="welcome-hero-form">
                        <div class="single-welcome-hero-form">
                            <h3>what?</h3>
                            <form action="index.html">
                                <input type="text" placeholder="Ex: palce, resturent, food, automobile" />
                            </form>
                            <div class="welcome-hero-form-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                        <div class="single-welcome-hero-form">
                            <h3>location</h3>
                            <form action="index.html">
                                <input type="text" placeholder="Ex: london, newyork, rome" />
                            </form>
                            <div class="welcome-hero-form-icon">
                                <i class="flaticon-gps-fixed-indicator"></i>
                            </div>
                        </div>
                    </div>
                    <div class="welcome-hero-serch">
                        <button class="welcome-hero-btn" onclick="window.location.href='#'">
                            search  <i data-feather="search"></i>
                        </button>
                    </div>
              </div>
        </div>

    </section><!--/.welcome-hero-->
    <!--welcome-hero end -->
    <!--list-topics start -->
    <section id="list-topics" class="list-topics">
        <div class="container">
            <div class="list-topics-content">
                <ul>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i style="font-size:40px" class="fa fa-book"></i>
                                
                            </div>
                            <h2><a href="#">book</a></h2>
                            <p>150 listings</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i style="font-size:40px" class="fa fa-book-reader"></i>
                            </div>
                            <h2><a href="#">Author</a></h2>
                            <p>214 listings</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i style="font-size:40px" class="fa fa-comment"></i>
                            </div>
                            <h2><a href="#">Comment</a></h2>
                            <p>185 listings</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i style="font-size:40px" class="fa fa-pen"></i>
                            </div>
                            <h2><a href="#">review</a></h2>
                            <p>200 listings</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i style="font-size:40px" class="fa fa-blogger-b"></i>
                            </div>
                            <h2><a href="#">blog</a></h2>
                            <p>120 listings</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--/.container-->

    </section><!--/.list-topics-->
    <!--list-topics end-->
    <!--works start -->
    <section id="works" class="works">
        <div class="container">
            <div class="section-header">
                <h2>how it works</h2>
                <p>Learn More about how our website works</p>
            </div><!--/.section-header-->
            <div class="works-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i style="font-size:40px" class="fa-solid fa-comments"></i>
                            </div>
                            <h2><a href="#">share <span> Your</span> throughs</a></h2>
                            <p>
                                Share your thoughts and feelings about a book.
                            </p>
                            <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                read more
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i style="font-size:40px" class="fa fa-search"></i>
                            </div>
                            <h2><a href="#">find <span> what you want</span></a></h2>
                            <p>
                                Not all books are created equal, but we'll help you find the best.
                            </p>
                            <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                read more
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i style="font-size:40px" class="fa fa-eye"></i>
                            </div>
                            <h2><a href="#">explore <span> amazing</span> place</a></h2>
                            <p>
                                The world of literature is waiting to be explored, and we'll be your guide.
                            </p>
                            <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                read more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->

    </section><!--/.works-->
    <!--works end -->
    <!--explore start -->
    <section id="explore" class="explore">
        <div class="container">
            <div class="section-header">
                <h2>REVIEW BOOK</h2>
                <p>Honest reviews from the heart.</p>
            </div><!--/.section-header-->
            <div class="explore-content">
                <div class="row">
                    @foreach (var item in ViewBag.baiviet)
                    {
                        <div class=" col-md-4 col-sm-6">
                            <div class="single-explore-item">
                                <div class="single-explore-img">
                                    <img style="margin-left:100px;width:200px;height:180px" src="@item.AnhBia" alt="explore image">
                                    <div class="single-explore-img-info">
                                        <button onclick="window.location.href='#'">best rated</button>
                                        <div class="single-explore-image-icon-box">
                                            <ul>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-arrows-alt"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-bookmark-o"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-explore-txt bg-theme-1">
                                    <h2><a href="#">@item.TenBaiViet</a></h2>
                                    <p class="explore-rating-price">
                                        <span class="explore-rating">@item.SoSao ★</span>
                                        <a href="#"> 10 ratings</a>
                                        <span class="explore-price-box">
                                            form
                                            <span class="explore-price">5$-300$</span>
                                        </span>
                                        <a href="#">@item.TaiKhoan</a>
                                    </p>
                                    <div class="explore-person">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="explore-person-img">
                                                    <a href="#">
                                                        <img src="@item.NguoiDung.Hinh" alt="explore person">

                                                    </a>

                                                </div>

                                            </div>
                                            <div class="col-sm-10">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua....
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="explore-open-close-part">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <button class="close-btn" onclick="window.location.href='#'">close now</button>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="explore-map-icon">
                                                    <a href="#"><i data-feather="map-pin"></i></a>
                                                    <a href="#"><i data-feather="upload"></i></a>
                                                    <a href="#"><i data-feather="heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <button style="margin-left:500px" class="welcome-hero-btn how-work-btn" onclick="window.location.href='https://localhost:44339/Blog/Index'">
                        read more
                    </button>

                    
                </div>
            </div>
        </div><!--/.container-->

    </section><!--/.explore-->
    
    
    <!-- statistics strat -->
    <section id="statistics" class="statistics">
        <div class="container">
            <div class="statistics-counter">
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">90 </div> <span>K+</span>
                        </div><!--/.statistics-content-->
                        <h3>posts</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">40</div> <span>k+</span>
                        </div><!--/.statistics-content-->
                        <h3>comments</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">65</div> <span>k+</span>
                        </div><!--/.statistics-content-->
                        <h3>visitors</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
                <div class="col-md-3 col-sm-6">
                    <div class="single-ststistics-box">
                        <div class="statistics-content">
                            <div class="counter">50</div> <span>k+</span>
                        </div><!--/.statistics-content-->
                        <h3>happy clients</h3>
                    </div><!--/.single-ststistics-box-->
                </div><!--/.col-->
            </div><!--/.statistics-counter-->
        </div><!--/.container-->

    </section><!--/.counter-->
    <!-- statistics end -->
    <!--blog start -->
    <section id="blog" class="blog">
        <div class="container">
            <div class="section-header">
                <h2>BLOG WRITING</h2>
                <p>Always upto date with our latest News and Articles </p>
            </div><!--/.section-header-->
            <div class="blog-content">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog-item">
                            <div class="single-blog-item-img">
                                <img src="assets/images/blog/b1.jpg" alt="blog image">
                            </div>
                            <div class="single-blog-item-txt">
                                <h2><a href="#">How to find your Desired Place more quickly</a></h2>
                                <h4>posted <span>by</span> <a href="#">admin</a> march 2018</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog-item">
                            <div class="single-blog-item-img">
                                <img src="assets/images/blog/b2.jpg" alt="blog image">
                            </div>
                            <div class="single-blog-item-txt">
                                <h2><a href="#">How to find your Desired Place more quickly</a></h2>
                                <h4>posted <span>by</span> <a href="#">admin</a> march 2018</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog-item">
                            <div class="single-blog-item-img">
                                <img src="assets/images/blog/b3.jpg" alt="blog image">
                            </div>
                            <div class="single-blog-item-txt">
                                <h2><a href="#">How to find your Desired Place more quickly</a></h2>
                                <h4>posted <span>by</span> <a href="#">admin</a> march 2018</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button style="margin-left:500px" class="welcome-hero-btn how-work-btn" onclick="window.location.href='https://localhost:44339/Blog/Index'">
                    read more
                </button>
            </div>
        </div><!--/.container-->

    </section><!--/.blog-->
    <!--blog end -->
    <!--subscription strat -->
    <section id="contact" class="subscription">
        <div class="container">
            <div class="subscribe-title text-center">
                <h2>
                    do you want to add your business listing with us?
                </h2>
                <p>
                    Listrace offer you to list your business with us and we very much able to promote your Business.
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="subscription-input-group">
                        <form action="#">
                            <input type="email" class="subscription-input-form" placeholder="Enter your email here">
                            <button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
                                creat account
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div>
        </div>
    </section><!--/subscription-->
    <!--subscription end -->
    <!-- Include all js compiled plugins (below), or include individual files as needed -->
    @*<script src="assets/js/jquery.js"></script>*@
    <script src="~/Content/LayoutChung/jquery.js"></script>
    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    @*<script src="assets/js/bootstrap.min.js"></script>*@
    <script src="~/Content/LayoutChung/bootstrap.min.js"></script>
    <!-- bootsnav js -->
    @*<script src="assets/js/bootsnav.js"></script>*@
    <script src="~/Content/LayoutChung/bootsnav.js"></script>
    <!--feather.min.js-->
    @*<script src="assets/js/feather.min.js"></script>*@
    <script src="~/Content/LayoutChung/feather.min.js"></script>
    <!-- counter js -->
    @*<script src="assets/js/jquery.counterup.min.js"></script>*@
    <script src="~/Content/LayoutChung/jquery.counterup.min.js"></script>
    @*<script src="assets/js/waypoints.min.js"></script>*@
    <script src="~/Content/LayoutChung/waypoints.min.js"></script>

    <!--slick.min.js-->
    @*<script src="assets/js/slick.min.js"></script>*@
    <script src="~/Content/LayoutChung/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    @*<script src="assets/js/custom.js"></script>*@
    <script src="~/Content/LayoutChung/custom.js"></script>

</body>

</html>