@model IEnumerable<KK_BookStore.Sach>

@{
    ViewBag.Title = "LocGiaTheLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/IndexSach/IndexSach.css" rel="stylesheet" />

<div style="margin-top:100px;font-size:large">
    @*@using (Html.BeginForm("LocTheLoai", "Sach", FormMethod.Get))
        {
            <select name="maTheLoai" id="maTheLoai">

                @foreach (var item in ViewBag.TheLoais)
                {
                    <option id="maTheLoai" value="@item.MaTL">@item.TenTL</option>
                }
            </select>
            <input type="submit" value="Search" />
        }*@
    @using (Html.BeginForm("LocGiaTheLoai", "Sach", FormMethod.Get))
    {
        <select name="chon" id="chon">

            <option id="maTheLoai" value=1> Bé hơn 100k </option>
            <option id="maTheLoai" value=2>100k đến 200k</option>
            <option id="maTheLoai" value=3>lớn hơn 200k</option>
        </select>
        <select name="cate" id="cate">

            @foreach (var item in ViewBag.TheLoais)
            {
                <option id="cate" value="@item.MaTL">@item.TenTL</option>
            }
        </select>
        <input type="submit" value="Search" />
    }



</div>
@using (Html.BeginForm("TimKiem", "Sach", FormMethod.Get))
{
    <!--<div style="float: right; margin-top: 40px;font-size:large">
        <input autocomplete="on" type="text" placeholder="Bạn muốn tìm sách gì?" name="searching" />-->
    @*@Html.TextBox("searching")*@
    <!--<input type="submit" value="Search" />
    </div>-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!DOCTYPE html>
    <html>

    <head>
        <title>Awesome Search Box</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="~/Content/timkiem/timkiem.css" rel="stylesheet" />
    </head>
    <!-- Coded with love by Mutiullah Samim-->
    <body>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="searching" placeholder="Bạn muốn tìm sách gì?">
                    <button style="color:rebeccapurple" class="search_icon" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </body>
</html>
}
@if (Model.Count() == 0)
{
    <h1 style="color:rebeccapurple">Không tìm thấy</h1>
}
else
{
    <div class="container" style="margin-top:100px;">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="https://localhost:44339/Sach/Detail/@item.MaSach">
                                <img class="pic-1" src="@item.HinhAnh" style="width:250px;height:400px">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a style="color:white" href="https://localhost:44339/Sach/Detail/@item.MaSach">@item.TenSach</a></h3>
                            <div class="price">
                                @String.Format("{0:0,0}", item.DonGia) VND
                                @foreach (var temp in ViewBag.sachGiamGia)
                                {
                                    if (temp.MaSach == item.MaSach)
                                    {
                                        <span> @String.Format("{0:0,0}", temp.GiaCu)</span>
                                    }
                                }
                            </div>
                        </div>
                        <ul class="social">
                            <li><a href="https://localhost:44339/Sach/danhSachBinhLuan/@item.MaSach" data-tip="Comments"><i class="fa fa-comment"></i></a></li>
                            <li><a href="https://localhost:44339/Sach/Detail/@item.MaSach" data-tip="Detail"><i class="fa fa-eye"></i></a></li>
                            <li>
                                <a data-tip="Add to wistlist" class="like btn btn-default" href="@Url.Action("themDanhSachYeuThich", "DanhSachYeuThich",new { @id = item.MaSach, @strURL = Request.Url.ToString()})"><span class="fa fa-heart"></span></a>
                            </li>

                            <li>
                                <a data-tip="Add to cart" class="add-to-cart btn btn-default" href="@Url.Action("ThemGioHang", "GioHang",new { @id = item.MaSach, @strURL = Request.Url.ToString()})"><span class="fa fa-shopping-cart"></span></a>
                            </li>


                        </ul>
                    </div>
                </div>

                <hr>
            }
        </div>

    </div>
}
