@model KK_BookStore.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";

}
<link href="~/Content/Profile/profile.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="main-content">
            <div class="tab-content profile-page">
                <div>
                    <h1>Đổi mật khẩu</h1>
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <strong class="col-md-2 control-label">Mật khẩu hiện tại</strong>
                                @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                                <div class="col-md-10" style="margin-top:10px;">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @style = "width:300px" })
                                </div>
                            </div>
                            <div class="form-group">
                                <strong class="col-md-2 control-label">Mật khẩu mới</strong>
                                @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                                <div class="col-md-10" style="margin-top:10px">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @style = "width:300px" })
                                </div>
                            </div>
                            <div class="form-group">
                                <strong style="" class="col-md-2 control-label">Xác nhận mật khẩu</strong>
                                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                                <div class="col-md-10" style="margin-top:20px">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "width:300px" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input style="background-color:rebeccapurple;color:white;margin-left:330px;margin-top:10px" type="submit" value="Đổi mật khẩu" class="btn btn-default" />
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>



    </div>
</div>