@model KK_BookStore.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<title>NTK_REVIEWS || Manager Account</title>
<link rel="shortcut icon" type="image/icon" href="~/Content/LayoutChung/favicon.png" />
<link href="~/Content/Profile/profile.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div style="background-color:rebeccapurple" class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="main-content">
            <!-- NAV TABS -->
            <ul class="nav nav-tabs nav-tabs-custom-colored tabs-iconized">
                <li class="active"><a style="color:whitesmoke" href="#profile-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-user"></i> Profile</a></li>
                <li class=""><a style="color:whitesmoke" href="#activity-tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-rss"></i> Recent Activity</a></li>
                <li class=""><a style="color:whitesmoke" href="#settings-tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-gear"></i> Settings</a></li>
            </ul>
            <!-- END NAV TABS -->
            <div class="tab-content profile-page">
                <!-- PROFILE TAB CONTENT -->
                <div class="tab-pane profile active" id="profile-tab">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user-info-left">

                                @*<img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Picture">*@
                                @if (ViewBag.hinh == null)
                                {
                                    <img class="img-responsive" src="\Content\user.jpg" alt="Profile Picture">

                                }
                                else
                                {
                                    <img class="img-responsive" src="@ViewBag.hinh" alt="Profile Picture">

                                }
                                <h2 style="padding-top:10px;color:aqua;font:bold">@User.Identity.Name<i class="fa fa-circle green-font online-icon"></i><sup class="sr-only">online</sup></h2>
                                <div class="contact">
                                    <a href="https://localhost:44339/Manage/Edit/@User.Identity.Name" class="btn btn-block btn-danger"><i class="fa fa-user-edit"></i> Change information</a>
                                    @*<a href="https://localhost:44339/Manage/ChangePassword">Change password</a>*@
                                    <a href="https://localhost:44339/Manage/ChangePassword" class="btn btn-block btn-success"><i class="fa fa-lock"></i> Change Password</a>
                                    @*<ul class="list-inline social">
                                            <li><a href="#" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                                            <li><a href="#" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a href="#" title="Google Plus"><i class="fa fa-google-plus-square"></i></a></li>
                                        </ul>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div style="font-size:large" class="user-info-right">
                                <div class="basic-info">
                                    <h3 style="color:aqua;font:bold"><i class="fa fa-square"></i> Basic Information</h3>
                                    <p style="margin-left:30px" class="data-row">
                                        <span style="text-align:center;font-size:medium" class="data-name">Username <i class="fa fa-user"></i></span>
                                        <span style="color:yellow" class="data-value">@User.Identity.Name</span>
                                    </p>
                                    <p style="margin-top: 10px; margin-left: 30px" class="data-row">
                                        <span style="text-align:center;font-size:medium" class="data-name">Birth Date <i class="fa fa-calendar"></i></span>
                                        <span style="color:yellow" class="data-value">@ViewBag.Date</span>
                                    </p>
                                    <p style="margin-top: 10px; margin-left: 30px" class="data-row">
                                        <span style="text-align:center;font-size:medium" class="data-name">Gender <i class="fa fa-genderless"></i></span>
                                        <span style="color:yellow" class="data-value">@ViewBag.Gender</span>
                                    </p>
                                    @*<p style="margin-top:10px; margin-left: 30px" class="data-row">
                                            <span style="text-align:center;font-size:medium" class="data-name">Website</span>
                                            <span class="data-value"><a href="#">www.jonasmith.com</a></span>
                                        </p>*@
                                    @*<p style="margin-top: 10px; margin-left: 30px" class="data-row">
                                            <span style="text-align:center;font-size:medium" class="data-name">Last Login</span>
                                            <span style="color:yellow" class="data-value">2 hours ago</span>
                                        </p>*@
                                    <p style="margin-top: 10px; margin-left: 30px" class="data-row">
                                        <span style="text-align:center;font-size:medium" class="data-name">Date Joined</span>
                                        <span style="color:yellow" class="data-value">@ViewBag.MonthJoin @ViewBag.DayJoin, @ViewBag.YearJoin</span>
                                    </p>
                                </div>
                                <div style="margin-top:15px" class="contact_info">
                                    <h3 style="color:aqua;font:bold"><i class="fa fa-square"></i> Contact Information</h3>
                                    <p style="margin-left:30px" class="data-row">
                                        <span style="text-align:center;font-size:medium" class="data-name">Email <i class="fa fa-envelope-o"></i></span>
                                        <span style="color:yellow" class="data-value">@ViewBag.Email</span>
                                    </p>
                                    <p style="margin-top:10px;margin-left:30px" margin-left:30px"" class="data-row">
                                        <span style="text-align:center;font-size:medium" class="data-name">Phone <i class="fa fa-phone"></i></span>
                                        <span style="color:yellow" class="data-value">@ViewBag.PhoneNumber</span>
                                    </p>
                                    <p style="margin-top: 10px; margin-left: 30px" margin-left:30px"" class="data-row">
                                        <span style="text-align:center;font-size:medium" class="data-name">Address <i class="fa fa-address-card"></i></span>
                                        <span style="color:yellow" class="data-value">@ViewBag.Address</span>
                                    </p>
                                </div>
                                <div style="margin-top:15px" class="about">
                                    <h3 style="color:aqua;font:bold"><i class="fa fa-square"></i> About Me</h3>
                                    <p style="color:yellow">@ViewBag.Bio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE TAB CONTENT -->
                <!-- ACTIVITY TAB CONTENT -->
                <div class="tab-pane activity" id="activity-tab">
                    <ul class="list-unstyled activity-list">
                        @foreach (var item in ViewBag.LichSuHoatDong)
                        {
                            <li>
                                @if (item.LoaiHoatDong == "cmt")
                                {
                                    <i class="fa fa-comment activity-icon pull-left"></i>
                                    <p style="color: greenyellow">
                                        <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <a style="color:aqua" href="@Url.Action("Detal","Review",new {@id = item.MaBaiViet})">@item.BaiViet.TenBaiViet</a> <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                    </p>
                                }
                                else
                                {
                                    if (item.LoaiHoatDong == "reply")
                                    {
                                        <i class="fa fa-reply activity-icon pull-left"></i>
                                        <p style="color: greenyellow">
                                            <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <a style="color:aqua" href="@Url.Action("Detal","Review",new {@id = item.MaBaiViet})">@item.BaiViet.TenBaiViet</a> <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                        </p>
                                    }
                                    else
                                    {
                                        if (item.LoaiHoatDong == "like_cmt")
                                        {
                                            <i class="fa fa-thumbs-up activity-icon pull-left"></i>
                                            <p style="color: greenyellow">
                                                <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <a style="color:aqua" href="@Url.Action("Detal","Review",new {@id = item.MaBaiViet})">@item.BaiViet.TenBaiViet</a> <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                            </p>
                                        }
                                        else
                                        {
                                            if (item.LoaiHoatDong == "write_post")
                                            {
                                                <i class="fa fa-pencil activity-icon pull-left"></i>
                                                <p style="color: greenyellow">
                                                    <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <a style="color:aqua" href="@Url.Action("Detal","Review",new {@id = item.MaBaiViet})">@item.BaiViet.TenBaiViet</a> <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                                </p>
                                            }
                                            else
                                            {
                                                if (item.LoaiHoatDong == "yeuThich_Post")
                                                {
                                                    <i class="fa fa-heart activity-icon pull-left"></i>
                                                    <p style="color: greenyellow">
                                                        <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <a style="color:aqua" href="@Url.Action("Detal","Review",new {@id = item.MaBaiViet})">@item.BaiViet.TenBaiViet</a> <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                                    </p>
                                                }
                                                else
                                                {
                                                    if (item.LoaiHoatDong == "duyet_Post")
                                                    {
                                                        <i class="fa fa-check activity-icon pull-left"></i>
                                                        <p style="color: greenyellow">
                                                            <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <a style="color:aqua" href="@Url.Action("Detal","Review",new {@id = item.MaBaiViet})">@item.BaiViet.TenBaiViet</a> <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        if (item.LoaiHoatDong == "xoayeuThich_Post")
                                                        {
                                                            <i class="fa fa-trash activity-icon pull-left"></i>
                                                            <p style="color: greenyellow">
                                                                <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <a style="color:aqua" href="@Url.Action("Detal","Review",new {@id = item.MaBaiViet})">@item.BaiViet.TenBaiViet</a> <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            if (item.LoaiHoatDong == "Follow")
                                                            {
                                                                <i class="fa fa-plus activity-icon pull-left"></i>
                                                                <p style="color: greenyellow">
                                                                    <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                if (item.LoaiHoatDong == "unFollow")
                                                                {
                                                                    <i class="fa fa-plus activity-icon pull-left"></i>
                                                                    <p style="color: greenyellow">
                                                                        <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                                                    </p>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-apple activity-icon pull-left"></i>
                                                                    <p style="color: greenyellow">
                                                                        <a style="color:white" href="#">@item.TaiKhoan</a> @item.NoiDung <span class="timestamp">@item.Ngay.ToString("dd/MM/yyyy")</span>
                                                                    </p>
                                                                }

                                                            }

                                                        }

                                                    }

                                                }
                                            }
                                        }
                                    }
                                }


                            </li>
                        }
                        
                    </ul>
                    @*<p class="text-center more"><a href="#" class="btn btn-custom-primary">View more <i class="fa fa-long-arrow-right"></i></a></p>*@
                </div>
                <!-- END ACTIVITY TAB CONTENT -->
                <!-- SETTINGS TAB CONTENT -->

                <div class="tab-pane settings" id="settings-tab">


                    <h1 style="color:white">Xác thực hai yếu tố</h1>
                    @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <input style="margin-bottom:3px" type="submit" value="Disable" class="btn btn-default" />

                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <input style="margin-bottom:3px" type="submit" value="Enable" class="btn btn-default" />

                        }
                    }
                    <form class="form-horizontal" role="form">

                        <fieldset>
                            @if (!Model.HasPassword)
                            {
                                <a href="https://localhost:44339/Manage/SetPassword" class="btn btn-primary">Cập nhập mật khẩu</a>

                            }
                        </fieldset>

                    </form>
                </div>
                <!-- END SETTINGS TAB CONTENT -->
            </div>
        </div>



    </div>
</div>


