@model KK_BookStore.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<h1 style="margin-top: 100px; font: bold; color: white;text-align:center">Đặt mật khẩu</h1>


@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group" style="font-size: large; color: white;margin-left:300px">
    <strong  class="col-md-2 control-label">Mật khẩu mới</strong>
    @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
    <div class="col-md-10" style="margin-top:10px">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
</div>
<div class="form-group" style="font-size: large; color: white; margin-left: 300px ">
    <strong style="" class="col-md-2 control-label">Xác nhận mật khẩu</strong>

    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
    <div class="col-md-10" style="font-size: large; color: white; margin-top: 20px">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input style="background-color:rebeccapurple;color:white;margin-left:330px;margin-top:10px"  type="submit" value="Đặt mật khẩu" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}